body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

header {
    background-color: black;
    padding: 10px;
    color: #a39a98;
    font-size: 28px;
}
#header-container {
    max-width: 1400px;
    margin: 0 auto;
}
#todo-container {
    max-width: 780px;
    margin: 0 auto;
}
#add-container {
    max-width: 610px;
    margin:0 auto;
}

.left-align {
    text-align: left;
}

p {
    font-size: 45px;
}

#type-input {
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    width: 450px;
    font-size: 16px;
}
.check-input {
/* hmm */
}
button {
    background-color: #0073b7;
    color: #fff;
    border: 1px solid #0073b7;
    border-radius: 6px;
    padding: 0 13px;
    font-size: 16px;
    margin-left: 25px;
    height: 42px;
}

.task_container {
    max-width: 780px;
    margin: 0 auto;
}
