h1 {
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  color: white;
}

#title {
  background-color:red;
}

.header-text {
  color: white;
  font-family: "Andale Mono", monospace;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header-etc {
  padding-right: 30px;
}
