<div class="centered-text">
    Le député Guillotin
Dans la médecine
Très expert et très malin
Fit une machine
Pour purger le corps français
De tous les gens à projets
C'est la guillotine, ô gué!
C'est la guillotine!
 
Pour punir la trahison
La haute rapine,
Ces amateurs de blasons,
Ces gens qu'on devine,
Voilà pour qui l'on a fait
Ce dont on connaît l'effet,
C'est la guillotine, ô gué!
C'est la guillotine!
 
À force de comploter
La horde mutine
A gagné sans y penser
Migraine maline
Pour guérir ces messieurs-là,
Un jour on les mènera
À la guillotine, ô gué!
À la guillotine!
 
De la France, on a chassé
La noble vermine
On a tout rasé, cassé
Et tout mis en ruine
Mais de noble, on a gardé
De mourir le cou tranché
Par la guillotine, ô gué!
Par la guillotine!
 
Messieurs les nobles mutins
Dont chacun s'échine
Soufflant par des efforts vains
La guerre intestine
Si nous vous prenons vraiment
Vous mourrez très noblement
À la guillotine, ô gué!
À la guillotine!
 
Le dix nous a procuré
Besogne de reste
Les traîtres ont abondé
C'est pis qu'une peste
Comme on n'en veut pas manquer
On punit sans déplanter
La machine reste, ô gué!
La machine reste!
  </div>