body {
    background: #f0f2f5;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}
footer {
    background-color: white;
    color: gray;
    font-size: 16px;
    margin: auto;
    width: 70%;
    padding: 10px;
    display: block;
}
.input-block {
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    background: #ffffff;
    border: 1px solid #dddfe2;
    height: 22px;
}
.main{
    display: flex;
    padding-top: 72px;
    padding-bottom: 112px;
    margin: 0 auto;
    width: 980px;
    margin-top: 106px;
}
.leftNRight {
}
.footer {
    padding-top: 20px;
    background: #fff;
}
.logoNmoto {
    vertical-align: top ;
    padding-right: 32px;
    box-sizing: border-box;
    width: 580px;
}
.logIn {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    width: 396px;
    height:348.417px;
    padding: 10px 10px 20px 10px;
    box-shadow: rgba(240, 242, 245, 255);
    margin-left: 580px;
}
.logoSize {
    padding: 112px 0 16px;
    height: 106px;
    margin: -28px;
}
.moto {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
    padding: 0 0 20px;
    margin: 0;
}
.enterNbutton {
    width: 100%;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    padding: 13px 0 13px 0;
    border: none;
    border-radius: 5px;
    margin: 10px 0 10px 0
}
.enter {
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    line-height: 20px;
    text-align: start;
    --accent: hsl(214, 89%, 52%);
    --always-black:black;
}
.button {
    background-color: rgba(24, 119, 242, 255);
}